
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Allure reports/results
allure-results/
allure-report/

# Environment secrets
.env
.env.*
!.env.example

# Playwright authentication/session state
playwright/.auth/